<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Quản Lý Thời Khóa Biểu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/admin.css">
    <script src="../angular/angular.min.js"></script>
</head>

<body ng-app="UngDungQuanLy" ng-controller="TKBController">
    <div class="khungbao">

        <aside class="thanhben">
            <div class="dauthanhben">
                <i class="fa-solid fa-school bieutuonglogo"></i>
                <span>Mầm Non Sao Mai</span>
            </div>
            <ul class="menuthanhben">
                <li><a href="admin.html"><i class="fa-solid fa-chart-pie"></i> Tổng quan</a></li>
                <li><a href="quanlygiaovien.html"><i class="fa-solid fa-chalkboard-user"></i> Quản lý giáo viên</a></li>
                <li><a href="quanlyhocphi.html"><i class="fa-solid fa-money-check-dollar"></i> Quản lý học phí</a></li>
                <li><a href="quanlyphancong.html"><i class="fa-solid fa-clipboard-list"></i> Quản lý phân công</a></li>
                <li class="kichhoat"><a href="quanlythoikhoabieu.html"><i class="fa-solid fa-calendar-days"></i> Quản lý
                        TKB</a></li>
                <li><a href="quanlytaikhoan.html"><i class="fa-solid fa-users-gear"></i> Quản lý tài khoản</a></li>
                <li class="mucdangxuat"><a href="dangnhap.html" onclick="dangXuat()"><i class="fa-solid fa-right-from-bracket"></i>
                        Đăng xuất</a></li>
            </ul>
        </aside>

        <main class="noidungchinh">
            <header class="dautrang">
                <div class="tieudetrang">
                    <h2>QUẢN LÝ THỜI KHÓA BIỂU</h2>
                    <p>Sắp xếp lịch học cho từng lớp</p>
                </div>
            </header>

            <div class="khungnhaplieu">
                <h3 class="tieudekhung">Thông Tin Thời Khóa Biểu</h3>
                <div class="luoihang">
                    <div class="nhaplieu">
                        <label>Mã TKB (*)</label>
                        <input type="text" ng-model="tkb.MaTkb" placeholder="VD: TKB01" ng-disabled="cheDoSua">
                    </div>
                    <div class="nhaplieu">
                        <label>Mã Lớp</label>
                        <input type="text" ng-model="tkb.MaLop" placeholder="VD: MAM01">
                    </div>
                    <div class="nhaplieu">
                        <label>Mã Môn Học</label>
                        <input type="text" ng-model="tkb.MaMonHoc" placeholder="VD: MON01">
                    </div>
                    <div class="nhaplieu">
                        <label>Tên Giáo Viên</label>
                        <input type="text" ng-model="tkb.TenGiaoVien" placeholder="Nhập tên GV...">
                    </div>
                    <div class="nhaplieu">
                        <label>Thứ</label>
                        <select ng-model="tkb.Thu">
                            <option value="">-- Chọn thứ --</option>
                            <option value="Thứ 2">Thứ 2</option>
                            <option value="Thứ 3">Thứ 3</option>
                            <option value="Thứ 4">Thứ 4</option>
                            <option value="Thứ 5">Thứ 5</option>
                            <option value="Thứ 6">Thứ 6</option>
                            <option value="Thứ 7">Thứ 7</option>
                        </select>
                    </div>
                    <div class="nhaplieu">
                        <label>Tiết Học</label>
                        <input type="number" ng-model="tkb.TietHoc" placeholder="VD: 1">
                    </div>
                    <div class="nhaplieu">
                        <label>Mã Phân Công (Liên kết)</label>
                        <input type="text" ng-model="tkb.MaPhanCong" placeholder="VD: PC01">
                    </div>
                </div>

                <div class="daynutbam">
                    <button class="nutbam nutthem" ng-click="themMoi()" ng-if="!cheDoSua">
                        <i class="fa-solid fa-plus"></i> Thêm mới
                    </button>
                    <button class="nutbam nutsua" ng-click="capNhat()" ng-if="cheDoSua">
                        <i class="fa-solid fa-save"></i> Cập nhật
                    </button>
                    <button class="nutbam nutxoa" ng-click="xoa()" ng-if="cheDoSua">
                        <i class="fa-solid fa-trash"></i> Xóa
                    </button>
                    <button class="nutbam nutlammoi" ng-click="lamMoi()">
                        <i class="fa-solid fa-rotate-right"></i> Làm mới
                    </button>
                </div>
            </div>

            <div class="banghienthi">
                <table class="bangdulieu">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã TKB</th>
                            <th>Lớp</th>
                            <th>Môn Học</th>
                            <th>Giáo Viên</th>
                            <th>Thứ</th>
                            <th>Tiết</th>
                            <th>Mã PC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dsTKB" ng-click="chonDong(item)" class="dongdulieu">
                            <td>{{$index + 1}}</td>
                            <td>{{item.maTkb}}</td>
                            <td style="font-weight:bold;">{{item.maLop}}</td>
                            <td style="color:#0d6efd;">{{item.maMonHoc}}</td>
                            <td>{{item.tenGiaoVien}}</td>
                            <td><span class="nhan">{{item.thu}}</span></td>
                            <td style="text-align:center; font-weight:bold;">{{item.tietHoc}}</td>
                            <td style="color:#666; font-style:italic;">{{item.maPhanCong}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>

    <script src="../js/quanlythoikhoabieu.js"></script>
    <script src="../js/admin.js"></script>
</body>

</html>